
aside{
    width: 5rem;
    display: flex;
    top: -0.5rem;
    position: fixed;
    flex-direction: column;
    z-index: 3;
    height: 100%;
    justify-content: center;
}

.group-aside{
    width: 5rem;
}

.group-aside a{
    height: 4rem;
    display: block;
    padding: 10px 0;
    text-align: center;
    color: white;
    text-decoration: none;
    transition: 1s all ease;
    background-color: #09338d;
}

.group-aside a:nth-of-type(1){
    /* background-color: #e23528; */
    border-top-right-radius: 1rem;
    border-top: 0.1rem solid rgb(68, 68, 68);
    border-right: 0.1rem solid rgb(68, 68, 68);
}

.group-aside a:nth-of-type(2) {
    /* background-color: #0077b5; */
    border-right: 0.1rem solid rgb(68, 68, 68);
}

.group-aside a:nth-of-type(3) {
    /* background-color: #3bc04d; */
    border-right: 0.1rem solid rgb(68, 68, 68);
} 

.group-aside a:nth-of-type(4) {
    /* background-color: #693cbd; */
    border-bottom-right-radius: 1rem;
    border-bottom: 0.1rem solid rgb(68, 68, 68);
    border-right: 0.1rem solid rgb(68, 68, 68);
}

.iconAside {
    margin: 0 auto;
    width: 22px;
    font-size: 22px;
}

.group-aside:has(a:hover) a:not(:hover) {
    opacity: .6;

}


@media screen and (max-width:600px){
    aside{
            display: none;
    }
}